<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <title>SEA-Bridge</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
   <link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
   <link rel="stylesheet" type="text/css" href="./stylesheets/style.css" />
</head>

<body>
   <div class="ui fixed menu">
      <div class="ui container">
         <a href="/">
            <img class="logo" src="/images/logo.png" height="40" width="auto" style="margin-top:5px">
         </a>
         <a href="/" class="item">SEA-Bridge</a>
         <div class="ui simple dropdown item">
            Orders
            <i class="dropdown icon"></i>
            <div class="menu">
               <a href="/orders" class="item">All Orders</a>
               <a href="/orders/archive" class="item">Webhooks</a>
            </div>
         </div>
      </div>
   </div>

   <div class="ui container" id="app" style="margin-top: 60px;">
      {{{ body }}}
   </div>
</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
<script src="/javascript/script.js"></script>

</html>